html {
    background: rgb(41, 41, 42); 
    font-family: sans-serif;
  }

*, ::after, ::before {
    box-sizing: border-box;
  }
  
  @keyframes slide-up2 {
      0% {
          transform: translateY(.5em);
          opacity: 0;
      }
      100%{
          transform: translateY(0);
          opacity: 1;
      }
  }
  
  @keyframes glow-load {
      0% {
          box-shadow: none;
      }
      100%{
          box-shadow:
              0px 0px 50px #0c3af0;
      }
  }
  
  @keyframes continuous-glow {
      0% {
      box-shadow: 0 0 5px rgba(60, 68, 216, 0.39), inset 0 0 5px rgba(114, 94, 233, 0.356), 0 2px 0 #000;
      }	
      100% {
      box-shadow: 0 0 20px rgba(60, 68, 216, 0.39), inset 0 0 10px rgba(114, 94, 233, 0.356), 0 2px 0 #000;
      }
  }
  
  @keyframes blur-load {
      0% {
          opacity: 0;
          filter:blur(0.2em);
      }
      100%{
          opacity: 1;
          filter:blur(0);
      }
  }
  
  .form-container {
    margin: auto;
    width: 90%;
  }
  
  .form-item,
  .textarea-div {
      opacity: 0;
  }
  
  .form-item1 {
      animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .3s 1 slide-up2 ;
    animation-fill-mode: forwards;
  }
  
  .form-item2 {
      animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .4s 1 slide-up2 ;
    animation-fill-mode: forwards;
  }
  
  .form-item3 {
      animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .5s 1 slide-up2 ;
    animation-fill-mode: forwards;
  }
  
  .form-item4 {
      animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .6s 1 slide-up2 ;
    animation-fill-mode: forwards;
  }
  
  form {
      background-color: rgb(12, 12, 12);
      border-radius: 1.25em;
      padding: 1.5em;
      animation: 1s cubic-bezier(0.47, 0, 0.745, 0.715) .7s 1 glow-load;
      animation-fill-mode: forwards;
  }
  
  form label {
      color: rgb(181, 171, 171);
      font-size: 20px;
  }
  
  option, select, input, .textarea-div textarea {
    background: #1b1a1a;
    color: rgb(255, 229, 195);
  }
  
  .form-header {
      text-align: center;
      font-size: 28px;
      padding: 0;
      margin-bottom: 1.25em;
      color: #0c3af0	;
  }
  
  label {
      display: block;
      margin-bottom: 0.35em;
      margin-top: 0.35em;
  }
  
  input:not(.btn), select {
      padding: 0.625em 1em;
      width: 100%;
      outline: 0;
      margin-bottom: 1.25em;
      border-radius: 1.25em;
      border: 0;
  }
  
  .textarea-div {
      width: 100%;
  }
  
  textarea {
      padding: 10px;
      width: 100%;
      outline: 0;
      margin-bottom: 20px;
      border-radius: 20px;
      border: 0;
      font-size: 14px;
      height: 100px;
  }
  
  .btn-container {
    margin: auto;
    padding-bottom: 1em;
  }
  
  .form-btn { 
      background: rgb(12, 12, 12) ;
      border: none ;
      margin-top: 1em ;
    font-size: 20px;
    padding: .5em;
  }
  
  .btn-glow {
      animation: .5s ease-out 0s 1 blur-load;
      border-radius: 2em ;
      color: white ;
      transition:.4s ;
  }
  
  .btn-glow:hover {
      box-shadow: 0px 0px 10px #0c3af0;
  }
  
  .form-btn:hover { 
      background: #0c3af0 ;
  }
  
  .form-container input:focus,
  .form-container select:focus,
  .form-container textarea:focus  {
      animation: continuous-glow 800ms ease-out infinite alternate;
      box-shadow: 0 0 5px #0c3af0, inset 0 0 5px #0c3af0, 0 2px 0 #000;
      color: rgb(255, 229, 195);
  }
  
  @media only screen and (min-width: 35.8em) {
      .form {
          display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      
      .form-item {
          width: 45%;
      }
  
      .form-container {
          padding: 5em 0;
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 60.625em) {
    .form-container {
          padding: 8em 0;
      width: 70%;
    }
  }